:root {
    --border-color: black;
    --key-color: #2b2b2b;
    --pressed-color: blue;
    --hover-color: #3d3d3d;
    --text-color: rgb(235, 221, 221);
    --background-color: rgb(77, 73, 73);
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 300%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: var(--text-color);
}

#keyboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: clamp(1000px, 95%,  1150px);
    aspect-ratio: 2.8;
    transform: perspective(500px) rotateX(20deg);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1rem;
    width: 100%;
    height: 25%;
    position: relative;
}

.funcs {
    height: 19%;
}

/* center text of all keys */
.key {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

/* 1:1 ratio for all keys except spacebar, backspace, and enter */
.row:not(.funcs) > div {
    aspect-ratio: 1;
}

.key > div:hover {
    background: var(--hover-color);
    cursor: pointer;
}

.key {
    border-radius: 25px;
}

#enter:hover, #clear:hover, #spacebar:hover {
    background: var(--hover-color) !important; 
}

/* spacebar */
.funcs > div:nth-child(2) {
    aspect-ratio: 6;
}

/* enter and backspace */
.funcs > div:nth-child(1), .funcs > div:nth-child(3) {
    aspect-ratio: 2;
}

/* fits all the keys to its wrapper */
.key > div {
    background: var(--key-color);    
    border: 1px solid var(--border-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: inherit;
    border-radius: inherit;
    font-size: 1rem;
}

#clear {
    left: 0;
}

#enter {
    right: 0;
}

.click {
    animation: click .2s;
}

.keypress {
    animation: keypress .2s forwards;
}

.backspace {
    animation: backspace .2s linear;
}

.disappear {
    animation: disappear .2s forwards;
}

@keyframes keypress {
    from {
        background: var(--key-color);
        height: 100%;
        font-size: 1rem;
    }

    to {
        background: var(--pressed-color);
        height: 80%;
        font-size: .8rem;
    }
}

@keyframes backspace {
    from {
        background: var(--pressed-color);
        height: 80%;
        font-size: .8rem;
    }

    to {
        background: var(--key-color);
        height: 100%;
        font-size: 1rem;
    }
}

@keyframes disappear {
    from {
        background: var(--pressed-color);
        height: 80%;
        font-size: .8rem;
    }

    to {
        height: 0%;
        font-size: 0px;
        border: none;
    }
}

#word {
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#score {
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 100%;
    }

    body {
        overflow-x: hidden;
    }
    #word, #score {
        font-size: 2rem;
    }
    #keyboard {
        aspect-ratio: none;
        position: absolute;
        transform: none;
        height: 35%;
        width: 98%;
        bottom: 1%;
    }

    .row {
        min-height: 25%;
        width: 100%;
        column-gap: 1%;
    }

    .key {
        height: 100%;
        border-radius: 10px;
    }

    .row:not(.funcs) > div {
        width: 9%;
    }

    .key > div {
        height: 100%;
        width: 100%;
        border-color: var(--border-color);
    }

    /* spacebar */
    .funcs > div:nth-child(2) {
        width: 50%;
    }

    /* enter and backspace */
    .funcs > div:nth-child(1), .funcs > div:nth-child(3) {
        width: 20%;
    }   
}