* {
    margin: 0;
    padding: 0;
}

:root {
    --border-color: black;
    --key-color: #2b2b2b;
    --pressed-color: blue;
    --hover-color: #3d3d3d;
    --text-color: rgb(235, 221, 221);
    --background-color: rgb(77, 73, 73);
    --scale: 80%;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: var(--text-color);
}

#keyboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .375rem;
    position: relative;
    width: min(97%,  1150px);
    /* width: 100%; */
    height: 20rem;
    /* aspect-ratio: 2.8; */
    /* transform: perspective(500px) rotateX(20deg); */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(.375rem, .5vw);
    width: 100%;
    height: 25%;
    position: relative;
}

.top, .bottom {
    justify-content: space-between;
}

.bottom > .key, .top > .key {
    flex: 1;
}

.keyboard-functions {
    height: 0;
}

/* center text of all keys */
.key {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: min(100px, 9vw);
    /* aspect-ratio: 1; */
    border-radius: 10%;
    font-size: min(2.5rem, 7vw);
}

/* fits all the keys to its wrapper */
.key > div {
    background: var(--key-color);    
    border: 1px solid var(--border-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* aspect-ratio: inherit; */
    border-radius: inherit;
}

.key > div:hover {
    background: var(--hover-color);
    cursor: pointer;
}

#enter:hover, #backspace:hover, #spacebar:hover {
    background: var(--hover-color) !important; 
}

#enter, #backspace {
    font-size: min(1.2rem, 3vw);
    /* width: 3rem; */
    /* min-width: min(150px, 13.5vw); */
    /* margin-right: .5rem; */
}

/* keypress animations */
.pressed-letter {
    animation: pressed-letter .2s forwards;
}

.pressed-backspace {
    animation: pressed-backspace .2s linear;
}

.remove-letter {
    animation: remove-letter .2s forwards;
}

@keyframes pressed-letter {
    from {
        background: var(--key-color);
        height: 100%;
        font-size: 1em;
    }

    to {
        background: var(--pressed-color);
        height: var(--scale);
        width: var(--scale);
        font-size: .8em;
    }
}

@keyframes pressed-backspace {
    from {
        background: var(--pressed-color);
        height: var(--scale);
        width: var(--scale);
        font-size: .8em;
    }

    to {
        background: var(--key-color);
        height: 100%;
        width: 100%;
        font-size: 1em;
    }
}

@keyframes remove-letter {
    from {
        background: var(--pressed-color);
        height: var(--scale);
        font-size: .8em;
    }

    to {
        height: 0%;
        width: 0%;
        font-size: 0px;
        border: none;
    }
}

#word {
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

#score {
    display: flex;
    gap: 10px;
    font-size: 2.5rem;
}

.instructions {
    font-size: 2rem;
}

.reset {
    text-decoration: underline;
}

.reset:hover {
    cursor: pointer;
}
/* 
@media screen and (max-width: 1000px) {
    #score {
        position: relative;
        bottom: 25%;
    }

    #word {
        position: relative;
        bottom: 15%;
    }

    #keyboard {
        aspect-ratio: none;
        position: absolute;
        transform: none;
        height: 35%;
        width: 98%;
        bottom: 1%;
    }

    .row {
        min-height: 25%;
        width: 100%;
        column-gap: 1%;
    }

    .key {
        height: 100%;
        border-radius: 10px;
    }

    .row:not(.keyboard-functions) > div {
        width: 9%;
    }

    .key > div {
        height: 100%;
        width: 100%;
        border-color: var(--border-color);
        font-size: 1.5rem;
    } */

    /* spacebar */
    /* .keyboard-functions > div:nth-child(2) {
        width: 50%;
    } */

    /* enter and backspace */
    /* .keyboard-functions > div:nth-child(1), .keyboard-functions > div:nth-child(3) {
        width: 20%;
    }    */

    /* instructions sentence is replaced with enter, spacebar, and backspace buttons */
    /* .instructions {
        font-size: 0;
    }
} */

/* @media screen and (min-width: 1001px) {
    .keyboard-functions {
        color: transparent;
        position: absolute;
        width: 0;
        height: 0;
        top: -1000%;
    }
} */